<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
    <title>Controle de Estoque</title>
</head>
<body>
    <header class="header">
        <h1>Controle de Estoque</h1>
        <p>Floricultura</p>
    </header>

    <main class="container">
        {% with mensagens = get_flashed_messages(with_categories=true) %}
            {% if mensagens %}
                {% for categoria, msg in mensagens %}
                    <div class="mensagem {{ categoria }}">
                        {{ msg }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2026 Leonardo Dell'Amatrice Silva</p>
    </footer>
</body>
</html>