{%- extends "base.html" -%}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

    <div class="actions">
        <form action="/" method="GET">
            <input type="text" name="pesquisa" placeholder="Buscar produto..." value="{{ texto_pesquisa }}">
            <button type="submit">Pesquisar</button>
        </form>
        <a href="/criar">+ Novo Produto</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>preço</th>
                <th>Quantidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.id }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.tipo }}</td>
                    <td>R${{ produto.preco }}</td>

                    {% set estoque_baixo = produto.quantidade <= 5 %}
                    <td class="{{ 'estoque-baixo' if estoque_baixo else '' }}">
                        {{ produto.quantidade }}
                    </td>
                <td>
                    <form action="/editar/{{ produto.id }}" method="GET" style="display:inline;">
                        <button class="btn-acao btn-editar">Editar</button>
                    </form>
                    <form action="/deletar/{{ produto.id }}" method="POST" style="display:inline;">
                        <button class="btn-acao btn-excluir" onclick="return confirm('Tem certeza?')">Excluir</button>
                    </form>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
